<div class="login__container">
    <h2 class="login__container_title">Login</h2>
    <form class="login__container_form">
        <div class=" form__group field">
            <input type="input" class="form__field" placeholder="Name" id='name' #username required />
            <label for="name" class="form__label">Username</label>
        </div>
        <input class="form_submit" type="button" value="Login" (click)="login(username.value)"
            (keydown.enter)="login(username.value)">
    </form>
</div>